<div class="container">
  
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Xt5tpahxhQU?autoplay=1"></iframe>
  </div>
</div>

<div class="space-200">&nbsp;</div>
<div class="section-title text-center">

                                <h2>GO FUND TAPS </h2>
                                <%= image_tag 'title-bottom.png', alt:""%>
                                <div class="container">
                                <p class="h4">We are Teaching Athletes Plans for Success Inc. (T.A.P.S)!<br>
                                A nonprofit organization supporting at-risk urban youth.  Our goal is the help our youth recognize their full potential on and off the playing courts and fields. We strive to assist our youth in identifying their strengths and develop a plan to execute their dreams.</p>
                            </div>
                            </div>
                           
      <div class="space-200">&nbsp;</div>
      <div class="section-title text-center">
     
                                <h2> How You Can Help <span></span></h2>
                                  <%= image_tag 'title-bottom.png', alt:""%>
                            
                             <div class="container">
                             <p class="h4">TAPS is looking to raise $50,000 in order to assist with operating costs, equipment, educational material, and transportation assistance. Donations are a valuable source to the success of TAPS. No donation is too small.</p>
                             </div>
                            </div>

   <div class="space-200">&nbsp;</div>
      <div class="section-title text-center">
     
                                <h2> What You Get <span></span></h2>
                                  <%= image_tag 'title-bottom.png', alt:""%>
                            
                             <div class="container">
                            <p class="h4">All donations are accepted and appreciated, with the most sincere level of gratitude. To show our appreciation the following items are available to our awesome donors:.</p>
                             </div>
                            </div>
     



     <div class="space-20">&nbsp;</div>
      <div class="page-damy-content pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                           <h2>$20 Donation</h2>
                            <p class="h4">Thank you.</p>
                        </div>

                        <div class="col-sm-12">
                        <h2>$50 Donation</h2>
                        <p class="h4">Thank you.</p>

                        </div>
                        <div class="col-sm-12">
                           <h2>$100 Donation </h2>
                      <p class="h4">TAPS Donor T-shirt</p>

                        </div>
                        <div class="col-sm-12">
                        <h2>$500 Donation</h2>
                        <p class="h4">TAPS Donor T-shirt. And your name added to donor list on our website.</p>
                            
                        </div>
                        <div class="col-sm-12">
                        <h2>$1000 Donation</h2>
                        <p class="h4">TAPS Donor T-shirt.Your Name on Donor Banner at all functions.  And your name added to donor list on our website.</p>
                          
                        </div>
                        <div class="col-sm-12">
                        <h2>$5000 Donation</h2>
                            <p class="h4"> Name on Donor wall at TAPS locations.  Donor Plaque
                            Name added to donor list on our website.</p>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-20">&nbsp;</div>

         <section class="error-page-donate pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="donet-error-page text-center">
                                <h3>Want to donate? <span>It’s time to show your humility</span></h3>
                                <!-- <a href="" class="btn-md bo-ra-5">Donate Now</a> -->
                                <%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
 <div>
    <%=label_tag(:amount, 'Donation Amount:') %>
    <%= text_field_tag(:amount) %>
 </div>
  <article>
    <%= hidden_field_tag(:stripeToken) %>
  </article>
 <div class="form-button">
  <button id='donateButton'>
  <span>Donate</span></button>
  </div>
<% end %>

<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var handler = StripeCheckout.configure({
  key: '<%= ENV['stripe_publishable_key'] %>',
  locale: 'auto',
  name: 'GO FUND TAPS',
  description: 'One-time donation',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p>Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 1.00) {
    $('#error_explanation').html('<p>Donation amount must be at least $1.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

// Close Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});
</script>                                          

                            </div>
                        </div>
                    </div>
                </div>
            </section>
       

                <div class="space-200">&nbsp;</div>

            
            <!-- End up comming area -->
            <!-- Start brand logo area -->
            <section class="brand-logo-area pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                         
                            <div class="section-title text-center">
                                <h2>Our <span>Sponsors</span></h2>
                                <p> Your picture can go here</p>
                                <%= image_tag 'title-bottom.png', alt:""%>
                            </div>
                        </div>
                        <!-- End section title -->
                        <!-- Start brand logo -->
                        <div class="brand-logo">
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'def.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'def.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'def.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                    <%= image_tag 'def.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                                   <%= image_tag 'def.png', alt:""%>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="b-logo">
                            <%= image_tag 'def.png', alt:""%>
                            </div>
                        </div>
                        <!-- End brand logo -->
                    </div>
                </div>
            </section>
         <!-- end of payment options -->





              <section class="slider-animate-area pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="cd-intro">
                                <h1 class="cd-headline clip is-full-width title1 wow zoomIn animated" data-wow-duration="1s" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1s; animation-delay: 300ms; animation-name: zoomIn;">
                                    <span>TAPS EDUCATION AND </span>
                                    <span class="cd-words-wrapper">
                                        <b class="is-visible">SPORTS</b>
                                        <!-- <b>VS</b> -->
                                        <b> ACADEMY </b>
                                    </span>
                                </h1>
                                <p class="wow zoomIn animated" data-wow-duration="1s" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1s; animation-delay: 600ms; animation-name: zoomIn;">We need to raise $50,000, but we can't do it by ourselves. We need you to reach deep in your pockets..</p>
                                <div class="slider-button-area wow zoomIn animated" data-wow-duration="1s" data-wow-delay="900ms" style="visibility: visible; animation-duration: 1s; animation-delay: 900ms; animation-name: zoomIn;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

             <div class="space-200">&nbsp;</div> 
              
         <!-- end of payment options --> 